.board {
    background-color: rgba(255, 228, 196, 0.75);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.square {
    background-color: white;
}

.square_black {
    background-color: rgb(104, 164, 241);
}

.square_white {
    background-color: rgb(240, 234, 234);
}

.square_piece {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kill_move {
    background-color: rgba(253, 3, 24, 0.4);
    border-radius: 100%;
    backdrop-filter: blur(8px);
}

.movable_move {
    background-color: rgba(153, 205, 50, 0.6);
    backdrop-filter: blur(8px);
    border-radius: 100%;
    transform: scale(0.6);
}
